.chessboard{
    display: grid;
    margin-top: 50px;
    padding: 10px;
    background-color: black;
    width: 800px;
    height: 800px;
    grid-template-columns: repeat(8,100px);
    grid-template-rows: repeat(8,100px);
}

.chessboard .green{
    background-color: #799556;
}

.chessboard .white{
    background-color: rgb(255, 255, 255);
}